<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome! | </title>
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action='main' method='post'>

              <div th:each = "s : ${question}">
                <input name="id" type="text" class="form-control" placeholder="Question" th:value="${s}" disabled/>
                <input name="ans" type="text" class="form-control" placeholder="Answer" />
              </div>
              
              <div>
              	<br>
                <input type="submit" style="width:15%; matgin:0 auto" class="btn btn-default submit"  value ="submit"/>
              	<input name="id" type="text" class="form-control" placeholder="Score" th:if="${score}!=null" th:value="${score}" disabled/>
              </div>

              <div class="clearfix"></div>

            </form>
          </section>
        </div>

      </div>
    </div>
  </body>
</html>